* {
    padding: 0;
    margin: 0;
    font-family:serif;
}
body{
    background-image:url(https://img.freepik.com/free-vector/hand-drawn-hearts-border-frame_23-2149251700.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
   /*background-color: rgb(120, 226, 182);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    height: 60px;
    width: 200px;
    bottom: 25px;
    background: rgb(196, 101, 106);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 8);
}

input {
    width: 50px;
    padding: 5px;
    font-size: 19px;
    background-color: rgb(88, 33, 255);
    text-align: center;
    border: 5px solid darkorchid;
    outline: none;
    margin-left: 20px;
    border-radius: 10px;
}
.speedbtn{
    position: absolute;
    bottom: 150px;
}
@media screen and (max-width:600px) {
    
.speedbtn{
    position: absolute;
    bottom: 200px;
}
}